*{
    box-sizing: border-box;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
.content{
    height: 100vh;
    width: 100vw;
    background: #7562E0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-box{
   height: 80%;
    width: 80%;
    border-radius: 10px;
    display: flex;   
}
.left-view{
    height: 100%;
    width: 30%;
    background: #2d2839;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right-view{   
    height: 100%;
    width: 70%;
    background: #2b2637;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}
.chat-list{  
    width: 100%;
    height: 86%;
}
.chat{
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 14px;
    padding: 10px;
    max-width: 70%;
    overflow-wrap: anywhere;
}
.left{
    background: #5a41a9;
    float: left;
    clear: both;
}
.right{
    background: #5c5077;
    float: right;
    clear: both;
}
.join{
    width: 98%;
    background: #3498db;
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 14px;
    padding: 10px;
    justify-content: center;
}
.leave{
    width: 98%;
    background: #e74c3c;
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 14px;
    padding: 10px;
    justify-content: center;
}
.chat-send{
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 95%;
    background: #5c5077;
    height: 50px;
    align-items: center;
}
.chat-send input{
    width: 88%;
    height: 80%;
    background: bottom;
    outline: none;
    border: none;
    font-size: 20px;
    color: white;
    margin-left: 10px;
}
.picture{
    color: #aca6c1;
}
.send-button{
    color: #aca6c1;
    margin-right: 9px;
}
.fas{
    font-size: 31px;
    /* color: #aca6c1; */
}
.icon{
    font-size: 33px;
    margin-left: 10px;
    color: #aca6c1;
}
.emoji{
    position: absolute;
    left: 34px;
    top: 41px;
    background: black;
    border-radius: 18px;
    border-color: white;
    align-content: center;
    justify-content: center;
}
.emoji-line-1{
    display: flex;
    margin-bottom: -5px;
    align-items: center;
    justify-content: center;
}
.emoji-line-2{
    display: flex;
    margin-bottom: -5px;
    align-items: center;
    justify-content: center;
}
.emoji-line-3{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}
.smiley{
    margin-right: 5px;
    color: #ffcc4d;
    margin-left: 5px;
}
.laugh{
    margin-right: 5px;
    color: #ffcc4d;
}
.angry{
    margin-right: 5px;
    color: #ffcc4d;
}
.dizzy{
    margin-right: 9px;
    color: #ffcc4d;
}
.flushed{
    margin-right: 5px;
    color: #ffcc4d;
}
.frown{
    margin-right: 5px;
    color: #ffcc4d;
}
.frown-open{
    margin-right: 5px;
    color: #ffcc4d;
} 
.grimace{
    margin-right: 5px;
    color: #ffcc4d;
}
.grin{
    margin-right: 5px;
    color: #ffcc4d;
}
.grin-alt{
    margin-right: 5px;
    color: #ffcc4d;
}
.grin-beam{
    margin-right: 5px;
    color: #ffcc4d;
}
.grim-beam-sweat{
    margin-right: 5px;
    color: #ffcc4d;
}
.heart-eyes{
    margin-right: 5px;
    color: #ffcc4d;
    margin-left: 5px;
}
.squint{
    margin-right: 5px;
    color: #ffcc4d;
}
.tilted-laugh{
    margin-right: 5px;
    color: #ffcc4d;
}
.starry-eyes{
    margin-right: 5px;
    color: #ffcc4d;
}
.laughing-tears{
    margin-right: 3px;
    color: #ffcc4d;
}
.out-tongue{
    margin-right: 5px;
    color: #ffcc4d;
}
.tongue-squint{
    margin-right: 5px;
    color: #ffcc4d;
}
.tongue-wink{
    margin-right: 5px;
    color: #ffcc4d;
}
.wink{
    margin-right: 5px;
    color: #ffcc4d;
}
.kiss{
    margin-right: 5px;
    color: #ffcc4d;
}
.kiss-beam{
    margin-right: 5px;
    color: #ffcc4d;
}
.kiss-heart{
    margin-right: 5px;
    color: #ffcc4d;
}
.laugh-beam{
    margin-right: 5px;
    color: #ffcc4d;
    margin-left: 5px;
}
.laugh-squint{
    margin-right: 5px;
    color: #ffcc4d;
}
.meh{
    margin-right: 5px;
    color: #ffcc4d;
}
.meh-blank{
    margin-right: 8px;
    color: #ffcc4d;
}
.rolling-eyes{
    margin-right: 10px;
    color: #ffcc4d;
}
.sad-cry{
    margin-right: 5px;
    color: #ffcc4d;
} 
.sad-tear{
    margin-right: 5px;
    color: #ffcc4d;
}
.smile-beam{
    margin-right: 5px;
    color: #ffcc4d;
}
.smile-wink{
    margin-right: 5px;
    color: #ffcc4d;
}
.surprise{
    margin-right: 5px;
    color: #ffcc4d;
}
.tired{
    margin-right: 9px;
    color: #ffcc4d;
} 
.heart{
    margin-right: 5px;
    color: #ea596e;
} 
.hide{
    display: none;
}
.picture{    
    margin-right: 10px;
}
.attachment{
    color: #aca6c1;
    margin-right: 9px;   
}
